$RECYCLE.BIN/
*.cab
*.iml
*.iws
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.stackdump
.externalNativeBuild
.gradle/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/workspace.xml
.idea/assetWizardSettings.xml
.idea/caches
.idea/httpRequests
.idea/replstate.xml
.idea/tasks.xml
.idea_modules/
.navigation/
Thumbs.db
[Dd]esktop.ini
atlassian-ide-plugin.xml
bin/
build/
captures/
cmake-build-debug/
cmake-build-release/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
ehthumbs.db
ehthumbs_vista.db
fabric.properties
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
freeline.py
freeline/
freeline_project_description.json
gen/
google-services.json
keystore.properties
local.properties
out/
proguard/
